.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(158, 100, 60, 1) 66%,
    rgba(140, 72, 67, 1) 100%
  );
  font-family: "Arial";
  font-weight: bold;
}

.content {
  height: 50vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(237, 230, 242, 0.75);
  border-radius: 5px;
  transform: rotate3d(0);
  transition: all 0.1s ease;
  cursor: pointer;
  letter-spacing: 3px;
  text-align: center;
}

.text {
  text-align: center;
  width: 100%;
  margin: 0;
}

.description {
  margin: 0;
  /* border: 1px solid red; */
  padding: 16px 16px 24px;
  font-size: 16px;
  opacity: 0.7;
  text-align: center;
}

.flip {
  transform: rotate3d(1, 1, 1, 720deg);
  font-family: "Papyrus";
  font-size: 48px;
  color: white;
  background-color: rgba(7, 7, 7, 0.75);
  letter-spacing: normal;
  border-radius: 50px;
}

.score-boxes {
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 90%;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

.score-box {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.score-box-element {
  margin: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 4px;
  font-weight: bolder;
}

.score-box-score {
  margin: 0;
  width: 100%;
  text-align: center;
  font-weight: lighter;
}
